@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css" (prefers-color-scheme: dark);

:root {
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--slate-2);
  color: var(--slate-12);
}

main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 24px;
  font-family: var(--font-text);
  font-size: 20px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-code);
}
